.secondary{
    background-color: white;
}
.secondPage{
    color: #512B1A;
    background-color: white;
}
.list_Room.secondPageBorder{
    border: 1px solid #512B1A;
}
.hero.heightAuto{
    height: auto;
    background-image: none;
    background-color: #6D635F;
    align-items: flex-start;
}
.hero.heightAuto form{
    background-color: #6D635F;
    padding: 1vw;
    padding-bottom: 1vh;
    width: 100%;
    border-right: 2px solid #5f5653;
}
.hero.heightAuto form>button{
    width: 15vh;
}
.hero.heightAuto form>.bigButtons{
    background-color: #6D635F;
}
.hero.heightAuto form>.bigButtons:hover{
    cursor: pointer;
}
body main .cityContainer{
    width: 100%;
    height: 80.5vh;
    padding: 0vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-image: none;
}
.cityContainer .mapContainer,.cityContainer .stayContainer{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: block;
}
.cityContainer .stayContainer>div{
    width: 100%;
    border: none;
}
.cityContainer .stayContainer>div:nth-child(1){
    padding-bottom: 5vh;  
    border-bottom: 1px solid lightgray;
}
.cityContainer .stayContainer .tilesDiv{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    height: 35vh;
    margin-top: 4vh;
}
.cityContainer .stayContainer .tilesDiv.visible{
    opacity: 1;
}
.headingDiv{
    padding: 2vh;
    padding-top: 0vh;
}
.subHeader{
    width: 100%;
    height: 5vh;
    left: 0;
    margin-bottom: 2vh;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    display: none;
    position: absolute;
}
.subHeader>div{
    width: 50%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: #5f5653;
}
.subHeader>div:nth-child(1){
    background-color: #5f5653;
    color: white;
}
.headingDiv>h1{
    font-weight: 350;
    padding-bottom: 2vh;
    color: #512B1A;
}
.headingDiv>h1.hidden{
    display: none;
}
.headingDiv>p{
    color: #512B1A;
}
.headingDiv>p.hidden{
    display: none;
}
.stayContainer .headingDiv~div.hidden{
    display: none;
}
.tilesDiv{
    display: flex;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15), 0 -5px 5px 0 rgba(0, 0, 0, 0.15);
}
.tilesDiv>div{
    width: 35%;
    height: 100%;
}
.tilesDiv>div:nth-child(1)>div{
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-top: 2vh;
    margin-right: -1vh;
    float: inline-end;
    border: 4px solid #ffffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.tilesDiv>div:nth-child(1)>div>img{
    width: 100%;
    vertical-align: middle;
}
.tilesDiv .tileContentDiv{
    width: 65%;
    padding: 2vh;
}
.cityContainer .stayContainer{
    overflow-y: scroll;
    border: none;
}
.tilesDiv>div{
    background-position: 0% 50%;
    background-size: cover;
}
.tileContentDiv>h3, .tileContentDiv>h4{
    font-weight: 400;
    margin-bottom: 1vh;
}
.tileContentDiv>div{
    display: flex;
    margin-bottom: 5vh;
}
.tileContentDiv>div>img{
    margin-right: 1vh;
}
.tileContentDiv>div>p{
    color: gray;
    font-size: 0.9rem;
}
.tileContentDiv>p{
    margin-bottom: 1vh;
}
.tileContentDiv>p>span{
    color: #92C01F;
    font-size: 1.3rem;
}
.sortByList{
    display: none;
    color: #512B1A;
    background-color: #F1EFEF;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    list-style: none;
    position: absolute;
    top: 17.2vh;
    right: 2vw;
    padding: 3vh;
}
.sortByList>li{
    border: 1px solid lightgray;
    padding: 1vh;
    background-color: white;
}
.sortByList>li:hover{
    cursor: pointer;
    background-color: #F1EFEF;
}
.sortByList>li.selected{
    background-color: #92C01F;
    border: none;
    color: white;
}
.filterByList{
    width: auto;
    height: auto;
    color: #5f5653;
    font-size: 1rem;
    font-weight: 500;
    background-color: #F1EFEF;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 -5px 5px rgba(0, 0, 0, 0.15);
    padding: 1vh 2vh;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90% 10%;
    position: absolute;
    top: 17.8vh;
    right: 13.8vw;
    column-gap: 2vw;
}
.filterByList>div>p{
    padding: 1vh;
    padding-bottom: 0vh;
}
.filterByList>div>ul{
    padding: 1vh;
    list-style: none;
    font-size: 0.9rem;
    border-top-left-radius: 3px;
}
.filterByList>div>ul>li{
    border: 1px solid lightgray;
    background-color: #ffffff;
    padding: 1vh;
}
.filterByList>div>ul>li:hover{
    background-color: #F1EFEF;
    cursor: pointer;
}
.filterByList>div>ul>li.selected{
    background-color: #92C01F;
    color: white;
}
.filterByList>div:last-child{
    grid-area: 2/1/3/5;
    display: flex;
    justify-content: center;
    padding: 1vh;
    column-gap: 2vh;
    font-weight: 400;
}
.filterByList>div>span:last-child{
    color: #2B95CA;
}
.filterByList>div>span:last-child:hover{
    cursor: pointer;
}
@media (max-width: 1024px){
    .hero.heightAuto{
        display: block;
    }
    .hero.heightAuto>h1{
        display: none;
    }
    .filterByList{
        right: 0;
        top: 35vh;
        z-index: 10;
    }
    .subHeader{
        display: flex;
    }
    .sortByList{
        top: 35vh;
        z-index: 10;
    }
    .headingDiv>h1{
        padding-top: 7vh;
    }
    .cityContainer .mapContainer{
        display: none;
    }
    .cityContainer .stayContainer{
        width: 100%;
    }
    .cityContainer .stayContainer>div:nth-child(1){
        display: block;
        border: none;
        padding-bottom: 1vh;
    }
    .stayContainer .headingDiv~div{
        display: block;
    }
    .stayContainer>.tilesDiv{
        display: flex;
        height: auto;
    }
    .cityContainer .stayContainer .tilesDiv{
        height: 25vh;
    }
}
@media (max-width: 500px){
    .cityContainer .stayContainer .tilesDiv{
        height: 35vh;
    }
    .filterByList{
        right: 0vh;
        top: 35vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .filterByList>div:last-child{
        grid-area: 3/1/4/3;
    }
}